@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.font{
    font-family: 'Poppins', sans-serif;
}

/* Sign Up */

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-family: 'Poppins', sans-serif;
}

.button{
    font-family: 'Poppins', sans-serif;
    background-color: #0D6EFD;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.accordion{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 350px;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 3px 3px 5px 2px grey;
}

.widthControl{
    font-family: 'Poppins', sans-serif;
    width: 80%;
    border: 1px solid lightgrey;
}

/* To do */

.link{
    font-family: 'Poppins', sans-serif;
    color: blue;
    text-decoration: underline;
    background-color: #F0F5F9;
    width: 400px;
    margin: auto;
    padding: 25px;
    box-shadow: 2px 2px 2px 2px darkgrey;
    text-align: center;
  }

.mainContainer{
    font-family: 'Poppins', sans-serif;
    width: 700px;
    margin: auto;
    padding-bottom: 200px;
}

.addContainer > :first-child {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

 
.stage1, .stage2, .stage3{
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    background-color: #F0F5F9;
}

.stage4{
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    background-color: #F0F5F9;
}

.addContainer, .claimContainer, .completeContainer, .abandonContainer{
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.inputBox{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: 1px solid lightgrey;
    text-align: left;
    padding: 5px;
    background-color: #E9ECEF;
    color: grey;
}

.removeCompleteButton{
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: 0 auto;
}

.textAlign{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 700;
}

