@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.headerContainer{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.mainContainer{
    background-color: #F0F5F9;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px 2px grey;
    padding: 1px;
    font-family: 'Poppins', sans-serif;
}

.renderTask{
    margin: 15px;
    border: 1px solid lightgrey;
    padding: 5px;
    background-color: #E9ECEF;
}

.taskContainer{
    margin: 15px;
    display: flex;
}

input{
    padding: 5px;
    width: 100%;
    border: 1px solid lightgrey;
    font-family: 'Poppins', sans-serif;
}

button{
    padding: 5px;
    background-color: #F0F5F9;
    border: 1px solid black;
    color: grey;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.sortButton{
    margin: 15px;
    text-align: center;
}