<div class="stage1">
    <form action="/addTask" method="post">
        <div class="addContainer">
            <input type="text" placeholder="new Task" name="addTask" class="inputBox" />
            <input type="submit" value="Add" class="button addButton" />
        </div>
    </form>
</div>

